*{
box-sizing:border-box;
margin:0;
padding:0;
}

.mission-section{
padding:56px;
display:flex;
justify-content:center;
background:#F5F5F5;
border-radius:40px;
}

.mission-container{
max-width:1180px;
width:100%;
display:flex;
flex-direction:column;
gap:48px;
}

.mission-header{
display:flex;
align-items:center;
gap:8px;
background:white;
border:1px solid #eee;
padding:6px 12px;
border-radius:20px;
width: 120px;
height: 38px;
}

.mission-badge span{
  color: #7B7A78;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.56px;
padding-left: 15px;
}

.mission-title{
color: #12110F;
font-family: "Instrument Serif";
font-size: 56px;
font-style: normal;
font-weight: 400;
line-height: 60px; /* 107.143% */
letter-spacing: -2.24px;
align-self: stretch;
}

.mission-title span{
color: #7B7A78;
font-family: "Instrument Serif";
font-size: 56px;
font-style: normal;
font-weight: 400;
line-height: 60px;
letter-spacing: -2.24px;
width: 101px;
height: 28px;
}

.mission-row{
display:flex;
align-items:flex-start;
gap:32px;
}

.mission-description{
color: #7B7A78;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.6px;
width: 270px;
height: 291px;
}

.mission-cards{
display:flex;
gap:20px;
flex-wrap:nowrap;
}

.mission-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}

.mission-card{
background:white;
border-radius:24px;
border:4px solid #fff;
min-height:260px;
overflow:hidden;
display: flex;
width: 270px;
height: 291px;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
border-radius: 24px;
border: 4px solid #FFF;
background: radial-gradient(50.17% 50.17% at 50% 50%, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.56) 100%);
}

.cardfour {
  display:flex;
  flex-direction:column;
  gap:8px;
}

.cardfour-heading{
  display:flex;
  align-items:center;
  gap:8px;
}

.pill-stack{
padding:24px;
display:flex;
flex-direction:column;
gap:12px;
padding: 24px 24px 50px 24px; 
}



.check-icon{
  display: flex;
width: 36px;
height: 36px;
padding: 6px;
justify-content: center;
align-items: center;
aspect-ratio: 1/1;
border-radius: 8px;
background: rgba(255, 81, 50, 0.08);
}
.pill-progress,
.pill-completed{
color: #12110F;
leading-trim: both;
text-edge: cap;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.56px;
display: flex;
height: 54px;
padding: 8px 17px 8px 12px;
align-items: center;
gap: 14px;
align-self: stretch;
border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 100);
width: 199px;
height: 54px;
 box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.10);
}

.pill-input{
  color: #7B7A78;
leading-trim: both;
text-edge: cap;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.56px;
display: flex;
height: 37px;
padding: 10px;
align-items: center;
gap: 10px;
flex: 1 0 0;
border-radius: 10px;
background: #F0F0F0;

}


.card-copy{
display: flex;
padding: 24px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
align-self: stretch;
background-color: #ececec;
}

.card-copy h3{
font-size:16px;
font-weight:600;
color: #12110F;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.64px;
}

.card-copy p{

color: #7B7A78;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 17px; /* 121.429% */
letter-spacing: -0.56px;
}

.profile-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 30px 30 23px;
  flex: 1;
}

.profile-avatar,
.profile-avatar2 {
   justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 24px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 100);
  z-index: 1;
  width: 67px;
height: 67px;
flex-shrink: 0;
box-shadow: 0 8px 24px rgba(0,0,0,0.07);
}

.avatar-main-wrapper {
  position: relative;
  z-index: 2;
  margin: 0 -20px;
}

.avatar-badge {
  position: absolute;
  bottom: 15px;        
  left: 50%;       
  transform: translateX(-50%); 
}  
.upcoming-card {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.upcoming-small {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  border-radius: 16px;
  border: 2px solid #FFF;
  background: rgba(255, 255, 255, 1);
  width: 210px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
}

.upcoming-top {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  color: #12110F;
  letter-spacing: -0.56px;
}

.upcoming-checkbox {
  display: flex;
  width: 36px;
  height: 36px;
  padding: 6px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(50, 101, 255, 0.08);
  flex-shrink: 0;
  z-index: 1;
  position: relative;
aspect-ratio: 1/1;
}
.upcoming-checkbox .svg {
  width: 20px;
  height: 20px;
  z-index: 3;
  position: absolute;
}
.upcoming-checkbox span{
  color: #7B7A78;
leading-trim: both;
text-edge: cap;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.56px;
padding-left:8rem;
}

.pill {
  background: #F5F5F5;
  border-radius: 10px;
  padding: 10px 14px;
  font-size: 14px;
  font-family: Inter;
  font-weight: 500;
  color: #12110F;
  letter-spacing: -0.56px;
  display: flex;
height: 37px;
padding: 10px;
align-items: center;
gap: 10px;
align-self: stretch;
border-radius: 10px;
background: #FFF;
 box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
}

.upcoming-row {
 display: flex;
height: 37px;
padding: 10px;
align-items: center;
gap: 100px;
align-self: stretch;
border-radius: 10px;
background: #FFF;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);

}
.upcoming-row span {
  color: #7B7A78;color: #7B7A78;
leading-trim: both;
text-edge: cap;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.56px;
}
.upcoming-row .doing-arrow {
 width: 12px;
height: 11.667px;

}
.cardfour{
  display: flex;
  height: 90px;
  padding: 8px 17px 8px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-radius: 16px;
  border: 2px solid #FFF;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 34px 0 #E8E8E8;
  width: 199px;
  height: 90px;
  margin: 0 20px 10px 30px;
}
.cardfour-heading{
  display:flex;
  align-items:center;
  gap:8px;
  
}

.card44{
  border-radius: 8px;
background:  lightgray 50% / cover no-repeat;
  width: 28px;
height: 28px;
aspect-ratio: 1/1;
}

.cardfour-title{
  
 
  margin: 0;
  color: #12110F;
leading-trim: both;
text-edge: cap;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.56px;
}
.cardfour h4{
  color: #12110F;
leading-trim: both;
text-edge: cap;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.56px;
}
.cardfour p{
  color: #7B7A78;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.56px;
}
.smallcard4 {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 10px;
  border-radius: 16px;
border: 2px solid #FFF;
 background: rgba(255, 255, 255, 0.08);
box-shadow: 0 4px 34px 0 #E8E8E8;
  height: 46px;
  min-width: 90px;
  margin-left: 30px;
  margin-bottom: 15px;
}

.smallcard1,
.smallcard2,
.smallcard3 {
  width: 42px;
  height: 42px;
  border-radius: 16px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.18);
  position: relative;
  object-fit: cover;
}

.smallcard1 {
  z-index: 1;
 
  width: 28px;
height: 28px;
aspect-ratio: 1/1;
border-radius: 8px;
border: 1px solid #FFF;
background:  lightgray 50% / cover no-repeat, rgba(27, 210, 136, 0.11);
  margin-left: 0;
}

.smallcard2 {
  z-index: 3;
  margin-left: -10px;
  width: 28px;
height: 28px;
aspect-ratio: 1/1;
border-radius: 8px;
border: 1px solid #FFF;
background:  lightgray 50% / cover no-repeat, rgba(27, 210, 136, 0.11);
}

.smallcard3 {
  z-index: 4;
  margin-left: -10px;
   transform: translateX(-2px);
   display: flex;
width: 28px;
height: 28px;
padding: 0 4px;
justify-content: center;
align-items: center;
aspect-ratio: 1/1;
border-radius: 8px;
border: 1px solid #FFF;
background: #FF5132;
}
.progress-wrapper{
  position: relative;
  width: 200px;
  margin: 20px auto 0;
  height: 200px;
}

.circle{
  width: 200px;
  height: 200px;
  border-radius: 136px;
  display: block;
  fill-opacity: white;
  filter: drop-shadow(0 4px 34px #E8E8E8);
}

.progress-ring{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  flex-direction: column;
  display: inline-flex;
padding: 22.32px 22px 21.68px 23px;
border-radius: 70px;
border: 2px solid #FFF;
background: #FFF;
margin-top: 3px;
}

.progress-label{
  color: #7B7A78;
text-align: center;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.4px;
top: 10px;

}
.progress-value{
  color: #12110F;
text-align: center;
font-family: "Instrument Serif";
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -1px;
}
.schedule{
  display: flex;
width: 224px;
height: 146px;
padding: 4px;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
gap: -1px;
border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.08);
box-shadow: 0 4px 34px 0 #E8E8E8;
margin: 0 0 25px 20px;

}
.schedule .h4{
  color: #333333;
leading-trim: both;
text-edge: cap;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.64px;
}
.schedule2{
  display: flex;
padding: 8px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
align-self: stretch;
border-radius: 18px 18px 12px 12px;
border: 2px solid #F1F1F1;
background: #FFF;
box-shadow: 0 -3px 16px 0 #F7F7F7;
width: 216px;
height: 96px;
right: 10px;
}
.schedule2 .para1,
.schedule2 .para2 {
  color: #12110F;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.56px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.schedule2 .para1 svg{
  display: flex;
width: 36px;
height: 36px;
padding: 6px;
justify-content: center;
align-items: center;
aspect-ratio: 1/1;
border-radius: 8px;
background: rgba(131, 131, 131, 0.08);
}
.schedule2 .para2 svg{
display: flex;
width: 36px;
height: 36px;
padding: 6px;
justify-content: center;
align-items: center;
aspect-ratio: 1/1;
border-radius: 8px;
background: rgba(131, 131, 131, 0.08);
margin-top: 5px;
}
